# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore npm-debug.log
npm-debug.log

# Ignore yarn error logs
yarn-error.log

# Ignore editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/
*.iml
*.ipr
*.iws
